body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.Background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-image: url('assets/background.png');
}

#name {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  padding: 1rem;
  text-transform: capitalize;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
  text-align: right;
}

#film, #music, #music_video {
  position: absolute;
}

#desk, #hand, #staircase {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#desk {
  width: 1684px;
  height:1019px;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  left: -1%;
  bottom: 6%;
  z-index: 103;
}

#desk .gif_container {
  top: 29.63%;
  left: 31.56%;
  bottom: 43.96%;
  right: 50.35%
}

#hand {
  position: relative;
  width: 1346px;
  height:681px;
  z-index: 102;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#hand .gif_container {
  top: 33.77%;
  left: 53.86%;
  bottom: 41.40%;
  right: 31.27%;
}

#hand .bg {
  position: static;
  width: 90rem;
}

.scene, .centerer {
  pointer-events: none;
}

#staircase {
  width: 2014px;
  height:946px;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  top: 22vw;
  right: 0;
  z-index: 101;
}

#staircase .gif_container {
  top: 6.86%;
  left: 33.36%;
  bottom: 74.08%;
  right: 56.3%;
}

.gif {
  pointer-events: all;
  position: absolute;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /*object-fit: cover;*/
}

.gif_container.isHover .standard {
  display: none;
}

.gif_container.isHover .hover {
  display: block;
}

.hover {
  display: none;
}

.centerer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-size: cover;
  background-position: center;
  pointer-events: none;
}